html,
body {
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #0b0b0d 0%, #2a0108ff 50%, #0b0b0d 100%);
    background-attachment: fixed;
    color: #e4e4e7;
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}